<?xml version="1.0" encoding="UTF-8"?>  
<!DOCTYPE generatorConfiguration  
  PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"  
  "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

	<context id="DB2Tables" targetRuntime="MyBatis3" defaultModelType="flat">
		<plugin type="org.mybatis.generator.plugins.RenameExampleClassPlugin">
			<property name="searchString" value="[e|E]xample$" />
			<property name="replaceString" value="Criteria" />
		</plugin>

	<commentGenerator>
		<property name="suppressDate" value="true" />
	</commentGenerator>

	<jdbcConnection driverClass="com.mysql.jdbc.Driver"
		connectionURL="jdbc:mysql://leng45.eicp.net:3306/CRSwi-Inspection" userId="root"
		password="noroot">
	</jdbcConnection>

	<javaTypeResolver>
		<property name="forceBigDecimals" value="false" />
	</javaTypeResolver>

	<!-- generate Model -->
	<javaModelGenerator targetPackage="deepthinking.crswi.inspection.domain"
		targetProject="src/main/java">
		<property name="enableSubPackages" value="true" />
		<property name="trimStrings" value="true" />
	</javaModelGenerator>


	<!-- 自动生成mapper接口, ANNOTATEDMAPPER(注解) -->
	<javaClientGenerator type="ANNOTATEDMAPPER"
		targetPackage="deepthinking.crswi.inspection.dao.mapper" implementationPackage="deepthinking.crswi.inspection.dao.mapper.impl"
		targetProject="src/main/java">
		<property name="enableSubPackages" value="true" />
	</javaClientGenerator>
		<!--
		<table tableName="t_datashield_device" ></table>
    	<table tableName="t_dictionary" ></table>
        <table tableName="t_dictionary_value" ></table>
        <table tableName="t_firmware" ></table>
        <table tableName="t_inspection_line" ></table>
        <table tableName="t_inspection_point" ></table>
        <table tableName="t_instrument" ></table>
        <table tableName="t_orgnization" ></table>
        <table tableName="t_staff" ></table> -->
    	<!--<table tableName="T_CSZD_BHTB" ></table>
		<table tableName="T_CSZD_BHWZXX" ></table>
		<table tableName="T_CSZD_BHXX" ></table>
		<table tableName="T_CSZD_CSZ" ></table>
		<table tableName="T_CSZD_DMJGLX" ></table>
		<table tableName="T_CSZD_DMSD" ></table>
		<table tableName="T_CSZD_PDBZ" ></table>
		<table tableName="T_CSZD_WXCL" ></table>
		<table tableName="T_CSZD_WXFF" ></table>
		<table tableName="T_CSZD_XJQD" ></table>
		<table tableName="T_CSZD_ZDFL" ></table>
		<table tableName="T_CSZD_ZDQZ" ></table>
		<table tableName="T_XTGL_AZB" ></table>
		<table tableName="T_XTGL_DKJL" ></table>
		<table tableName="T_XTGL_EJGLZX" ></table>
		<table tableName="T_XTGL_FJ" ></table>
		<table tableName="T_XTGL_GDXLSJ" ></table>
		<table tableName="T_XTGL_GNSQD" ></table>
		<table tableName="T_XTGL_JS" ></table>
		<table tableName="T_XTGL_JSGNQX" ></table>
		<table tableName="T_XTGL_SGZL" ></table>-->
		<!--<table tableName="T_XTGL_TZGG" ></table>
		<table tableName="T_XTGL_TZYJSQX" ></table>
		<table tableName="T_XTGL_TZYJSQX" ></table>
		<table tableName="T_XTGL_XJDSJ" ></table>
		<table tableName="T_XTGL_XJMBDW" ></table>
		<table tableName="T_XTGL_XTCZRZ" ></table>
		<table tableName="T_XTGL_YH" ></table>
		<table tableName="T_XTGL_YJGLZX" ></table>
		<table tableName="T_XTGL_ZZJG" ></table>
		<table tableName="T_YW_BHJL" ></table>
		<table tableName="T_YW_GDJH" ></table>
		<table tableName="T_YW_GDZXJL" ></table>
		<table tableName="T_YW_TFSBXX" ></table>
		<table tableName="T_YW_WXCLHF" ></table>
		-->
	</context>
</generatorConfiguration>  
